.card-grande{
    border: 1px solid black;
    margin: 10px;
    height: 180px;
    width: 400px;
    display: flex;
    padding: 10px;
}
.container-da-imagem{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-do-texto{
    padding: 10px 0px 10px 10px;
}