
a{
  text-decoration: none;
  color: black;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  
}
main{
  display: flex;
}
ul{
  list-style: none;
}
label > img{
  width: 40px;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
header{
  background-color: #ef843a;
  height: 50px;
  margin:0;
  padding: 10px;
  top:0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
      
}
nav{
  background-color: white;
  width: 200px;
  height: 100%;
  padding: 10px;
  position: relative;
  transition: all .5s;
  border-right: 1px gray;
}
footer{
  background-color: darkgrey;
  height: 30px;
  width: 100%;
  font-size: 25px;
  padding: 10px;
  bottom: 0;
  border: none;
  display: flex;
  align-items: flex-end;
}
/*input[type="checkbox"]:checked ~ nav{
  transform: translateX(300px);
}*/

ul{
  top: 10px;
  position: relative;
  width: 100%;
}
li{
  border-bottom: 1px gray solid;
  padding: 10px;
}
article > a{
  display: block;
  padding: 25px 5px;
  
}
li:hover{
  background-color: lightgray;
  
}
label{
  padding: 15px;
  position: absolute;
  z-index: 1;
}

#busca{
  width: 250px;
  height: 25px;
  right: 0;
  border-radius: 2%;
      
}
/*MAIN STYLE*/

article{
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 20px;
  right: 0;
  border-left: 1px gray solid;
      
}
article > a{
  text-align: center;
  text-decoration: none;
  font: 15px black;
  transition: all .5s;
}
article > a:hover{
  background-color: lightgray;
}

#item1{
  height: 150px;
  width: 200px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  border: 1px gray solid;
}
#item2{
  height: 150px;
  width: 200px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border: 1px gray solid;
}
#item3{
  height: 150px;
  width: 200px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  border: 1px gray solid;
}
#item4{
  height: 150px;
  width: 200px;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  border: 1px gray solid;
}
#item5{
  height: 150px;
  width: 200px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  border: 1px gray solid;
}
#item6{
  height: 150px;
  width: 200px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  border: 1px gray solid;
}
#item7{
  height: 150px;
  width: 200px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  border: 1px gray solid;
}
#item8{
  height: 150px;
  width: 200px;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  border: 1px gray solid;
}
img{
  width: 100%;
  height: 150px;
}
.video{
  display: block;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 200px;
  border-left: 1px gray solid;
}
#detalhe-video{
  height: 400px;
  width: 50em;
  display: flex;
  justify-content: center;
  padding-top: none;
  padding-bottom: 10px;
}
h3{
  font-size: 20px;
  font-style: italic oblique;
}

aside{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 1fr, 1fr, 1fr;
  height: 9px;
  width: 20em;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  transition: all .5s;
  
}
aside a:hover{
  background-color: lightgray;
}

aside > a {
  padding-top: 10px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  border: 1px gray solid;

}
@media screen and (max-width: 600px){
  *{
      padding: 0;
      margin: 0;
  }
  a{
      text-decoration: none;
      color: black;
  }
  body{
      font-family: Arial, Helvetica, sans-serif;
      
  }
  
  ul{
      list-style: none;
  }
  label > img{
      width: 40px;
      height: 40px;
              
  }
  input[type="checkbox"]{
      display: none;
  }
  header{
      background-color: #ef843a;
      height: 50px;
      width: 100%;
      margin:0;
      padding-top: 30px;
      top:0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
          
  }
  nav{
      background-color: white;
      width: 200px;
      height: 100%;
      padding: 10px;
      left: -200;
      position: absolute;
      transition: all .5s;
      border-right: 1px gray solid;
      
  }
  footer{
      background-color: darkgrey;
      height: 30px;
      width: 100%;
      font-size: 25px;
      padding: 10px;
      bottom: 0;
      border: none;
      display: flex;
      align-items: flex-end;
  }
  input[type="checkbox"]:checked ~ nav{
      transform: translateX(200px);
  }
  
  ul{
      top: 80px;
      position: relative;
      width: 100%;
  }
  li{
      border-bottom: 1px gray solid;
      padding: 10px;
  }
  article > a{
      display: block;
      padding: 25px 5px;
      
  }
  li:hover{
      background-color: lightgray;
      
  }
  nav > label{
      width: 50px;
      height: 50px;
      padding: 15px;
      position: absolute;
      z-index: 1;
      background-color: blueviolet;

  }
  
  #busca{
      width: 40%;
      height: 25px;
      border-radius: 2%;
      margin: 10px;
          
  }
  /*MAIN STYLE*/
  
  article{
      color: black;
      display: grid;
      grid-template-columns: 1fr 
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
      padding-top: 30px;
      padding-bottom: 50px;
      padding-left: 40%;
      padding-right: 30px;
      
          
  }
  article > a{
      text-align: center;
      text-decoration: none;
      font: 15px black;
      transition: all .5s;
  }
  article > a:hover{
      background-color: lightgray;
  }
  
  #item1{
      height: 150px;
      width: 200px;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      border: 1px gray solid;
  }
  #item2{
      height: 150px;
      width: 200px;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      border: 1px gray solid;
  }
  #item3{
      height: 150px;
      width: 200px;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
      border: 1px gray solid;
  }
  #item4{
      height: 150px;
      width: 200px;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5;
      border: 1px gray solid;
  }
  #item5{
      height: 150px;
      width: 200px;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 5;
      grid-row-end: 6;
      border: 1px gray solid;
  }
  #item6{
      height: 150px;
      width: 200px;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 6;
      grid-row-end: 7;
      border: 1px gray solid;
  }
  #item7{
      height: 150px;
      width: 200px;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 7;
      grid-row-end: 8;
      border: 1px gray solid;
  }
  #item8{
      height: 150px;
      width: 200px;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 8;
      grid-row-end: 9;
      border: 1px gray solid;
  }
  img{
      width: 100%;
      height: 150px;
  }
  .video{
      display: block;
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 200px;
      border-left: 1px gray solid;
  }
  #detalhe-video{
      height: 400px;
      width: 50em;
      display: flex;
      justify-content: center;
      padding-top: none;
      padding-bottom: 10px;
  }
  h3{
      font-size: 20px;
      font-style: italic oblique;
  }
  
  aside{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-columns: 1fr, 1fr, 1fr;
      height: 9px;
      width: 20em;
      padding-top: 5px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 10px;
      transition: all .5s;
      
  }
  aside a:hover{
      background-color: lightgray;
  }
  
  aside > a {
      padding-top: 10px;
      padding: 10px 10px 10px 10px;
      margin-bottom: 10px;
      border: 1px gray solid;
  
  }
}
