*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: url(recursos/bright-yellow-brick.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

#conteiner{
    align-items: center;
    top: 30px;
    padding: 20px 100px 0px 450px;
}
button{
    padding: 5px;
    
}
input{
    padding: 5px;
}
select{
    padding: 5px;
}

main{
    height:550px;
    display: flex;
    flex-gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}
main>div{
    border: 1px solid gray;
    border-radius: 2%;
}


#segunda{
    height: 90%;
    width: 200px;
    background-color: palegoldenrod;
    padding: 10px;
    margin: 5px;
}
#terca{
    height: 90%;
    width: 200px;
    background-color: palegoldenrod;
    padding: 10px;
    margin: 5px;
}    
#quarta{
    height: 90%; 
    width: 200px;
    background-color: palegoldenrod;
    padding: 10px;
    margin: 5px;
}
#quinta{
    height: 90%;
    width: 200px;
    background-color: palegoldenrod;
    padding: 10px;
    margin: 5px;

}
#sexta{
    height: 90%;
    width: 200px;
    background-color: palegoldenrod;
    padding: 10px;
    margin: 5px;
}
#sabado{
    height: 90%;
    width: 200px;
    background-color: palegoldenrod;
    padding: 10px;
    margin: 5px;

}
#domingo{
    height: 90%;
    width: 200px;
    background-color: palegoldenrod;
    padding: 10px;
    margin: 5px;
}

